body {
  font-family: Calibri;
  font-size: 14px;
  height: 100%;
}
html {
  height: 100%;
}

#cy {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}

h1 {
  opacity: 0.5;
  font-size: 1em;
}
#menu {
  background-color:aliceblue;
}

.btn.btn-primary.btn-lg.btn-block {
  background-color: cadetblue;
}
